<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%5level [%t] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 매퍼 로깅 활성화 예시 -->
        <Logger name="com.opendev.odata.framework.mapper" level="TRACE"/>
        <Logger name="com.opendev.odata.domain.table.mapper" level="TRACE"/>

        <Root level="error" >
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>

</Configuration>